<!doctype html>
<html lang='en' data-version='{{timestamp}}'>

<head>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
	<script src="https://unpkg.com/enter-view"></script>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fork-awesome@1.1.7/css/fork-awesome.min.css" integrity="sha256-gsmEoJAws/Kd3CjuOQzLie5Q3yshhvmo7YNtBG7aaEY=" crossorigin="anonymous">

	{{> base/meta}}

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
	<link inline rel='stylesheet' href='bundle.css' />

	{{> base/font}}

	{{> base/analytics }}

</head>

<body>

	{{> base/header 'sticky'}}

	<main id='content'>
		<div class='intro'>
			<h1 class='intro__hed'>Elevation Ridgelines</h1>
			<p class='intro__dek'>A minimalist view of global elevation.</p>
			<p class='intro__byline'>By
				<a href='http://dnewcomb.com' class="link-text" target='_blank'>
					<strong>David Newcomb</strong>
				</a>
			</p>
			<time class='intro__time'>July 2020</time>
			<div class='intro__prelude'>
				{{!-- https://anvaka.github.io/peak-map/#9.68/34/-118 --}}
				{{!-- https://www.edwardtufte.com/bboard/q-and-a-fetch-msg?msg_id=0001OR --}}
				{{!-- https://flowingdata.com/2020/01/06/draw-a-ridgeline-map-showing-elevation-for-anywhere-on-earth/ --}}
				<p>
	                In 1979, on the <a href="https://www.radiox.co.uk/artists/joy-division/cover-joy-division-unknown-pleasures-meaning/" target="_blank" class="link-text">cover art</a> of Unknown Pleasures, the rock band Joy Division inadvertently popularized a data visualization chart type: <a href="https://www.data-to-viz.com/graph/ridgeline.html" target="_blank" class="link-text">the ridgeline plot</a>. For the band, the layered lines peaking in stark black and white conveyed a sense of the power surging sound they embodied. Recently, in the data visualization world, there's been a resurgence in this chart's popularity. Applying the ridgeline style to land elevation data of <a href="https://imgur.com/gallery/za6oWno" target="_blank" class="link-text">U.S. states</a>, <a href="https://www.reddit.com/r/DataArt/comments/gngkyi/oc_europe_ridgeline_map/?utm_name=iossmf" target="_blank" class="link-text">continents</a>, or even <a href="https://www.reddit.com/r/dataisbeautiful/comments/hit00r/oc_ridge_map_of_middleearth/?utm_source=share&utm_medium=ios_app&utm_name=iossmf" target="_blank" class="link-text">Middle Earth</a>, creates intuitive, minimalist, topographical maps. I'd like to extend these ridgeline maps to display a few different styles. Enjoy the maps below!
	            </p>
			</div>
			</div>
		</div>
{{!-- 		<br>
		<br>
		<br> --}}

{{!-- 			<div class="preloader">
			    <svg width="200" height="200" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="xMidYMid" class="lds-ripple" style="background:0 0"><circle cx="50" cy="50" r="4.719" fill="none" stroke="#3DC257" stroke-width="2"><animate attributeName="r" calcMode="spline" values="0;40" keyTimes="0;1" dur="3" keySplines="0 0.2 0.8 1" begin="-1.5s" repeatCount="indefinite"/><animate attributeName="opacity" calcMode="spline" values="1;0" keyTimes="0;1" dur="3" keySplines="0.2 0 0.8 1" begin="-1.5s" repeatCount="indefinite"/></circle><circle cx="50" cy="50" r="27.591" fill="none" stroke="#54a0ff" stroke-width="2"><animate attributeName="r" calcMode="spline" values="0;40" keyTimes="0;1" dur="3" keySplines="0 0.2 0.8 1" begin="0s" repeatCount="indefinite"/><animate attributeName="opacity" calcMode="spline" values="1;0" keyTimes="0;1" dur="3" keySplines="0.2 0 0.8 1" begin="0s" repeatCount="indefinite"/></circle></svg>
	  		</div> --}}
	  	<br>
		<div id="toggle-container">
			<button class="toggle" id="toggle-left">Calligraphy</button>
			<button class="toggle" id="toggle-middle">Joy Division</button>
			<button class="toggle" id="toggle-right">Earth</button>
		</div>
		<div class="wrapper-container">
			<div id="calligraphy-wrapper" class="graphic-wrapper">

			</div>
  		</div>

{{!--   		<h1 class="graphic-header">Joy Division</h1>
  		<div class="wrapper-container">
			<div id="joy-division-wrapper" class="graphic-wrapper"></div>
  		</div>

  		<h1 class="graphic-header">Land &amp; Ocean</h1>
  		<div class="wrapper-container">
			<div id="detailed-wrapper" class="graphic-wrapper"></div>
  		</div>
 --}}

 		<br>
		<script src="{{basepath}}assets/scripts/d3-delaunay.min.js"></script>
        <script src="{{basepath}}assets/scripts/d3.v5.js"></script>
        <script src="{{basepath}}assets/scripts/typeahead.bundle.js"></script>
	</main>

	{{> base/footer }}

	<script src='main.js?version={{timestamp}}' async></script>
</body>

</html>
